@page
@model Youth_Clinic.Pages.Doctors.IndexModel
@{
}

<h2>Doctors</h2>
<a class='btn btn-primary btn-sm' href='/Doctors/create'>New Doctor</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listDoctors)
        {
            <tr>
                <td>@item.doctor_name</td>
                <td>@item.gender</td>
                <td>@item.date_of_birth</td>
                <td>@item.department</td>
                <td>@item.phone_number</td>
                <td>@item.email</td>
                
                <td>
                    <a class="btn btn-primary btn-sm" href="/Doctors/edit?id=@item.doctorid">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Doctors/delete?id=@item.doctorid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
