@page
@model Youth_Clinic.Pages.Nurses.createModel
@{
}

<br>
<h2>New Nurse</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Full Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nurse_name" value="@Model.NursesInfo.nurse_name">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="gender" value="@Model.NursesInfo.gender">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date of Birth</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" name="date_of_birth" value="@Model.NursesInfo.date_of_birth">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Department</label>
        <div class="col-sm-6">
            <select type=" text" class="form-control" name="nurse_department" value="@Model.NursesInfo.nurse_department">
                <option value="">Select Department</option>
                <option value="Reconstructive Surgery">Reconstructive Surgery</option>
                <option value="Body Sculpting">Body Sculpting</option>
                <option value="Skin Rejuvenation">Skin Rejuvenation</option>
                <option value="Cosmetic Surgery">Cosmetic Surgery</option>
                <option value="Craniofacial Surgery">Craniofacial Surgery</option>
                <option value="Hair Restoration">Hair Restoration</option>
            </select>
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone_number" value="@Model.NursesInfo.phone_number">
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.NursesInfo.email">
        </div>
    </div>



    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>

